{
  "presets": [
    [
      "next/babel",
      {
        "preset-react": {
          "runtime": "automatic",
          "importSource": "@emotion/react"
        }
      }
    ]
  ],
  "plugins": [
    "babel-plugin-graphql-tag",
    "@emotion/babel-plugin",
    [
      "babel-plugin-import",
      {
        "libraryName": "@mui/material",
        "libraryDirectory": ".",
        "camel2DashComponentName": false
      },
      "core"
    ],
    [
      "babel-plugin-import",
      {
        "libraryName": "@mui/lab",
        "libraryDirectory": ".",
        "camel2DashComponentName": false
      },
      "lab"
    ],
    [
      "babel-plugin-import",
      {
        "libraryName": "@mui/icons-material",
        "libraryDirectory": ".",
        "camel2DashComponentName": false
      },
      "icons"
    ]
  ]
}
