:root {
  --primary-color: #9c27b0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #bb86fc;
  }
}

a,
a:hover {
  text-decoration: none;
}

a:not(.MuiButtonBase-root),
a:not(.MuiButtonBase-root):hover {
  color: var(--primary-color);
}

a:not(.MuiButtonBase-root):hover {
  text-decoration: underline;
}
