:root {
  --primary-color: #9c27b0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #bb86fc;
  }
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--primary-color);
  text-decoration: none;
}
