:root {
  --primary-color: #9c27b0;
  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #bb86fc;
  }
}

a,
a:hover {
  text-decoration: none;
}

a:not(.MuiButtonBase-root):not(.MuiButton-root):not(.MuiPaper-root),
a:not(.MuiButtonBase-root):not(.MuiButton-root):not(.MuiPaper-root):hover {
  color: var(--primary-color);
}

a:not(.MuiButtonBase-root):not(.MuiButton-root):not(.MuiPaper-root):hover {
  text-decoration: underline;
}

.grecaptcha-badge {
  visibility: hidden;
}
